@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  background-color: black;
}

.css-typing p {
  border-right: .15em solid green;
  font-family: "Courier";
  color: green;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 38em;
  -webkit-animation: type 3s steps(62, end);
  animation: type2 3s steps(62, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(2) {
  width: 4em;
  opacity: 0;
  -webkit-animation: type2 .25s steps(6, end);
  animation: type2 .25s steps(6, end);
  -webkit-animation-delay: 3.25s;
  animation-delay: 3.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(3) {
  width: 14.5em;
  opacity: 0;
  -webkit-animation: type2 1.25s steps(24, end);
  animation: type2 1.25s steps(24, end);
  -webkit-animation-delay: 3.75s;
  animation-delay: 3.75s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 32.5em;
  opacity: 0;
  -webkit-animation: type2 2.75s steps(54, end);
  animation: type2 2.75s steps(54, end);
  -webkit-animation-delay: 5.25s;
  animation-delay: 5.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  width: 38.5em;
  opacity: 0;
  -webkit-animation: type2 3s steps(64, end);
  animation: type2 3s steps(64, end);
  -webkit-animation-delay: 8.25s;
  animation-delay: 8.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(6) {
  width: 4.25em;
  opacity: 0;
  -webkit-animation: type2 .25s steps(7, end);
  animation: type2 .25s steps(7, end);
  -webkit-animation-delay: 11.5s;
  animation-delay: 11.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(7) {
  width: 11.5em;
  opacity: 0;
  -webkit-animation: type3 .75s steps(19, end), blink .5s step-end infinite alternate;
  animation: type3 .75s steps(19, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid green;
  }
  100% {
    border: none;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid green;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid green;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid green;
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
